table.displayFlight {
    margin-top: 20px;
}

.justify-content-xl-center{
    margin-top: 50px;
}
#heading{
    text-align: center;
}

.blue {
    background-color: grey;
    padding: 5px;
    padding-top: 20px;
    border-radius: 10px;
}